<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LA HOSPITAL</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
  <!-- my stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-inverse" style="font-size: 1.5rem;">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/" style="font-size: 3rem;">LA HOSPITAL</a></p>
      </div>
        <ul class="nav navbar-nav" style="flex-direction: row;">
          <li id="about"><a href="/"> Visit Home </a></li>
          <li id="about"><a href="/"> Explore Tests </a></li>
          <li id="contact"><a href="/"> Available Medicines </a></li>
          <li id="home"><a href="/"> Take Appointment </a></li> 
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form method='post' action='/login/logout'>
              <button>Log out</button>
            </form>
            <!-- <a href="/login/logout"><span class="glyphicon glyphicon-log-in"></span> Log out </a> -->
          </li>
        </ul>
    </div>
  </nav>

  <!-- <body>
    <div class="container"> -->
