<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> -->

<%- include('./admin-navbar') -%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/admin-sidebar.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="css/bootstrap.css" rel="stylesheet">   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body style="font-size: 1.5rem;">

<div class="sidenav">
  <button class="dropdown-btn">Employees 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/admin/employee/">All</a>
    <a href="/admin/employee/doctor/">Doctors</a>
    <a href="#">Nurses</a>
    <a href="#">Receptionists</a>
    <a href="#">4th Grade Staff</a>
  </div>

  <button class="dropdown-btn">Inside Hospital 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/admin/employee/">Departments</a>
    <a href="/admin/ward/">Wards</a>
    <a href="#">Rooms</a>
    <a href="#">Beds</a>
    <a href="#">Tests</a>
    <a href="#">Medicines</a>
  </div>

  <button class="dropdown-btn">Data & Info 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Patients</a>
    <a href="/admin/employee/">Records</a>
    <a href="/admin/employee/doctor/">Bills</a>
    <a href="#">Medicine Buys</a>
    <a href="#">Appointments</a>
    <a href="#">Diagnosis</a>
  </div>
  <a href="#contact">Login Credentials</a>
  <a href="#contact">Search</a>
</div>
