<%- include('./admin-sidebar') -%>

<div class="container" style="margin-left: 250px; max-width: 25%; font-size: 3rem;">
    <h1>Add New <%= type %></h1>
    <form action="/action_page.php" style="font-size: 2rem;">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" 
        name="email" value="<%= (typeof list !== 'undefined') ? list.id : '' %>" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="js/jquery.js"></script>        
      <script src="js/bootstrap.js"></script>
  
      <script>
          /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
          var dropdown = document.getElementsByClassName("dropdown-btn");
          var i;
          
          for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
            });
          }
      </script>
</div>
  

<%- include('./footer'); -%>