<%- include('./header'); -%>

  <h1> <%= dept.NAME %> </h1>
  <p>Patients diagnosed with brain injury, epilepsy, sleep disorders, stroke, 
    and neck and spine conditions seek the expertise of our neurologists. 
    Our experienced neurologists work efficiently with radiologists
     to treat patients through neurosurgery and general neurology.</p>

<%- include('./footer'); -%>
