<%- include('./header'); -%>
</head>
<body>

  <div class="container" alignment = "center">
    <h1> Home </h1>
    <img src = "https://m.economictimes.com/thumb/msid-71157235,width-1200,height-900,resizemode-4,imgsize-95030/doctor-getty.jpg" width = "200" height="200" style="vertical-align: center">
    <h3 style = "text-align: center"> Welcome to LA Hospital!</h3>
  </div>
  
<%- include('./footer'); -%>
