<%- include('./header'); -%>

  <div class="container">
    <h1> <%= medicine.NAME %> </h1>
    <h3> <%= medicine.PRICE %> tk</h3>
    <p>Patients diagnosed with brain injury, epilepsy, sleep disorders, stroke, 
      and neck and spine conditions seek the expertise of our neurologists. 
      Our experienced neurologists work efficiently with radiologists
      to treat patients through neurosurgery and general neurology.</p>

    <p>The unique fully integrated care model includes skilled nurses and modern endoscopic equipment
       to optimise patient experience. Other benefits of choosing treatment at Mount Elizabeth 
       include the ancillary support in ultrasound, X-ray, and MRI (magnetic resonance imaging) services
        that we provide to all patients.</p>

    <p>The gift of eyesight is one we aim to regain and improve for our young and adult patients 
      seeking the expertise of our ophthalmology specialists. Our team uses diagnostic
       and surgical equipment, offering a range of eye care services and tailoring treatment to your individual needs.</p>
  </div>
  
<%- include('./footer'); -%>
